<div style="position: relative; width: 100%; background-color: #212529!important; ">
  <div class="container-fluid">
    <nav class="navbar navbar-light">
      <div class="navbar-header my-2">
        <a class="navbar-brand mx-4" routerLink="home" style="color: white;" routerLinkActive="active">Hospital Managament</a>
        <a class="navbar-brand" style="color: white;"
          routerLinkActive="active" routerLink="add-patient">Add Patient</a>
        <a class="navbar-brand" 
          style="color: white;" routerLinkActive="active" routerLink="add-doctor">Add Doctor</a>
        <a class="navbar-brand" routerLink="patients"
          style="color: white;" routerLinkActive="active">Show Patients</a>
        <a class="navbar-brand mx+4" routerLink="doctors" style="color: white;"
          routerLinkActive="active">Show Doctors</a>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
